button.btn.btn-light(type="button" data-price="under-10") Dưới 10 triệu 
button.btn.btn-light(type="button" data-price="10-30") Từ 10 - 30 triệu
button.btn.btn-light(type="button" data-price="above-30") Trên 30 triệu
button.btn.btn-light(type="button" data-price="sale") Giảm giá nhiều !