mixin box-head(title)
    .box-head
        h2.inner-title #{title}
        button.btn.btn-light(type="button") Dưới 10 triệu 
        button.btn.btn-light(type="button") Từ 10 - 30 triệu
        button.btn.btn-light(type="button") Trên 30 triệu
        button.btn.btn-light(type="button") Giảm giá nhiều !